# Zadanie 3

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('dictionary', sep="\n", header=None)
df.head()

       0
0    aby
1     by
2     co
3  chyba
4    czy

In [3]:
df.columns = ["word"]
df.head()

    word
0    aby
1     by
2     co
3  chyba
4    czy

In [4]:
df.dtypes

word    object
dtype: object

In [5]:
df.astype('str').dtypes
df.dtypes

word    object
dtype: object

### Czyszczenie danych

In [6]:
for word in df['word']:
    type(word)
#     word = word.replace(('/V'), '')
#     word = word.replace(('/Z'), '')
df.head()

    word
0    aby
1     by
2     co
3  chyba
4    czy

### 2 Sposób

In [7]:
bad_chars = ['/Z', '/V']
def strip_characters(string):
    for char in bad_chars:
        string = string.replace(char,"")
    return string

In [8]:
stripped_test_data = []
for d in df['word']:
    #pominąć nagłowiek 
    date = strip_characters(d)
    stripped_test_data.append(date)

In [9]:
dictionary = pd.DataFrame(stripped_test_data, columns = ['word'])
dictionary.head()

    word
0    aby
1     by
2     co
3  chyba
4    czy

In [10]:
def levenshtein(s1, s2):
    if len(s1) < len(s2):
        return levenshtein(s2, s1)

    # len(s1) >= len(s2)
    if len(s2) == 0:
        return len(s1)

    previous_row = range(len(s2) + 1)
    for i, c1 in enumerate(s1):
        current_row = [i + 1]
        for j, c2 in enumerate(s2):
            insertions = previous_row[j + 1] + 1 # j+1 instead of j since previous_row and current_row are one character longer
            deletions = current_row[j] + 1       # than s2
            substitutions = previous_row[j] + (c1 != c2)
            current_row.append(min(insertions, deletions, substitutions))
        previous_row = current_row
    
    return previous_row[-1]
    return (matrix[size_x - 1, size_y - 1])

In [11]:
print('proszę wpisać słowo (z małej litery)')
word = input()
print('prosze wpisać ilość podobnych słów do wypisania ')
return_words = input()

proszę wpisać słowo (z małej litery)
kwoka
prosze wpisać ilość podobnych słów do wypisania
2

In [12]:
distance_list = []
for w in dictionary['word']:
    distance = levenshtein(w, word)
    distance_list.append(distance)
dictionary['distance'] = pd.Series(distance_list)

In [13]:
dictionary = dictionary.sort_values(by=['distance'], ascending=True)

In [14]:
# print(df.iloc[0,:return_words])
dictionary['word'].iloc[0:int(return_words)]

2437    koci
2604    koty
Name: word, dtype: object